POSTGRESQL_HOST=postgres_ip
POSTGRESQL_PORT=5432
POSTGRESQL_USER=user
POSTGRESQL_PASSWORD=pass
POSTGRESQL_DB=authentik
SECRET_KEY=change_me
AUTHENTIK_EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL-false
AUTHENTIK_EMAIL_HOST=
AUTHENTIK_EMAIL_USERNAME=
AUTHENTIK_EMAIL_PASSWORD=
EMAIL_FROM=