TZ=Etc/UTC
PUBLIC_URL=https://webmail.example.com
APP_NAME=Webmail
LOGIN_COMPANY_NAME=Webmail
WEBMAIL_BIND=127.0.0.1
WEBMAIL_PORT=8083
PROXY_BIND=127.0.0.1
PROXY_PORT=8084
SESSION_SECRET=replace-with-a-long-random-value
VAULT_KEY=replace-with-a-different-long-random-value
SESSION_HMAC_KEY=replace-with-another-long-random-value
