GF_SECURITY_ADMIN_USER=user
GF_SECURITY_ADMIN_PASSWORD=pass
OAUTH_ENABLED=true
OAUTH_NAME=authentik
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_SCOPES=openid profile email
OAUTH_AUTH_URL=
OAUTH_TOKEN_URL=
OAUTH_API_URL=
SIGNOUT_REDIRECT_URL=
OAUTH_AUTO_LOGIN=false
OAUTH_ROLE_ATTRIBUTE_PATH=contains(groups[*], 'Grafana Admins') && 'GrafanaAdmin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'
ROOT_URL=https://grafana.domain.com