APP_FULL_BASE_URL=https://passbolt.domain.com
DATASOURCES_DEFAULT_URL=postgres://user:pass@postgres_ip:5432/postgres?schema=passbolt
EMAIL_TRANSPORT_DEFAULT_USERNAME=user@gmail.com
EMAIL_TRANSPORT_DEFAULT_PASSWORD=pass
EMAIL_DEFAULT_FROM=user@gmail.com
